<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>aftership</name>
            <displayName><![CDATA[AfterShip for PrestaShop 1.5.x]]></displayName>
            <version><![CDATA[1.0.1]]></version>
            <description><![CDATA[AfterShip Connector for PrestaShop 1.5.x]]></description>
            <author><![CDATA[AfterShip]]></author>
            <tab><![CDATA[AfterShip]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>